* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #E7E7E7;
    padding-top: 100px;
}

header {
    display: flex; /*para que os elementos fiquem um do lado do outro*/
    align-items: center; /*para que fiquem centralizados na vertical*/
    margin-bottom: 40px;
}

header img {
    height: 76px; /*Ajustar o tamanho da imagem*/
    margin-right: 16px; /*ajustar a margem da direita*/
}

header h1 {
    font-size: 40px;
    font-weight: bold;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
}

form input {
    font-size: 24px;
    font-weight: bold;
    border: none;
    background-color: #fff;
    border-bottom: 2px solid #000;
    padding: 8px;
}


form button {
    background-color: #008000;
    color: #fff;
    font-size: 24px; /*tamanho da fonte*/
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
}

table {
    width: 100%;
}

table th {
    border-bottom: 2px solid #000;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

table td {
    padding: 16px 0;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

table td img {
    height: 30px;
}

.resultado {
    background-color: #000;
    color: #fff;
    padding: 8px;
    font-weight: bolder;
    border-radius: 3px;
}

.aprovado {
    background-color: #008000;
}

.reprovado {
    background-color: red;
}